<?xml version="1.0" encoding="utf-8" ?>

<!--
  Basic configuration for a DarkRift server.
  
  See http://www.darkriftnetworking.com/DarkRift2/Docs/ for reference documentation.
-->
<cluster xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://www.darkriftnetworking.com/DarkRift2/Schemas/2.9.0/Cluster.config.xsd">
  <!--
    The server groups in this cluster.
  -->
  <groups>
    <!--
      A group of servers in the cluster.
    -->
    <group name="DefaultGroup" visibility="external" />
  </groups>
</cluster>
